{% extends 'layout.html' %}
{% block content %}
<style>
    .profile{
        margin-top: 2rem;
    }
    .ut{
        margin-top: 0.3rem;
        display: flex;
        align-items: center; 
        justify-content: space-between;       
    }
</style>
<div>
    <h1>About Page</h1>
    <div class="profile">
    <h3>作者基本信息</h3>

    <div class="ut">
        <p>姓名</p><h4>严雷</h4>
    </div>
    <div class="ut">
        <p>学校</p><h4>武汉工程大学</h4>
    </div>
    <div class="ut">
        <p>年龄</p><h4>22</h4>
    </div>
    <div class="ut">
        <p>创作时间</p><h4>2022-06</h4>
    </div>
    <div class="ut">
        <p>微信号</p><h4>y3177390362</h4>
    </div>
</div>
   </div>    
{% endblock content %}