{% extends 'layout.html' %}
{% block content %}
<script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
<style>
.talk{
    width: 25rem;
    border: 2px solid gray;
    padding: 1rem;
}
.user{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
#ig{
    width: 6rem;height: 6rem;
    border-radius: 50%;
}
.in{
    padding: .5rem;
    display: flex;
    flex-direction: column;
}
.sd{
    display: flex;
    justify-content: flex-end;
    margin-bottom: .2rem;
}
</style>
<div class="talk">
    <div class="user">
    <img src="{{ url_for('static', filename=current_user.image_file) }}" alt="" id="ig">
    <div class="pro">
        <h3>{{ current_user.username }}</h3>
        <small><div id="content"></div></small>
    </div>
    </div>
    <div class="in">
        <div class="sd">
    <input type="text" name="" id="msg">
    <button id="join">加入</button> 

        </div>
        <div class="sd">
            <input type="text" name="" id="room">
            <button id="send">发送</button>
        </div>
    <!-- <input type="file" name="" id="files"> -->

    </div>
    <!-- <img src="" alt="" id="te"> -->
    
    <button id="leave">离开</button> 
</div>
<script>
const content = document.getElementById('content');
const message = document.getElementById('msg');
const room = document.getElementById('room');
const send = document.getElementById('send');
const join = document.getElementById('join');
const leave = document.getElementById('leave');
const f = document.getElementById('files');

const socket = io('http://127.0.0.1:5000/test');

f.addEventListener('change', (e)=> {
    const file = e.target.files[0];
    socket.emit('img_upload'. file)
    // const reader = new FileReader();
    // reader.readAsDataURL(file)
    // reader.onload = ()=>{
    //     const img = {name: file.name, type: file.type, base64: reader.result};
    //     socket.emit('img_upload', img)}
})

const displayMsg = (m) => {
    return content.append(m)
};
socket.on('received', (m)=> {
    displayMsg(m)
})

// socket.on('image', (d)=> {
//     const te = document.getElementById('te');
//     te.src = d.base64
// })
send.addEventListener('click', () => {
    if(message.value === '') return
    data = {msg: message.value, room: room.value};
    socket.emit('handle_msg', data);
    message.value = '';
});

join.addEventListener('click', ()=>{
    data = {username: current_user.username, room: room.value};
    socket.emit('join', data);
});
leave.addEventListener('click', ()=>{
    data = {username: current_user.username, room: room.value};
    socket.emit('leave', data);
    room.value = '';
});
    // socket.on('connect', function(){
    //     socket.emit('my event', {data: 'Conected'})
    // });
</script>

{% endblock content %}